.submitBtnWrapper {
  width: 100%;
}
.submitBtnWrapper .submitBtn {
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  background: #9f643c;
  color: white;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  min-width: 150px;
}
.submitBtnWrapper .submitBtn:disabled {
  background: #b89174;
  cursor: not-allowed;
}
.submitBtnWrapper .submitBtn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.submitBtnWrapper .submitBtn:active:not(:disabled) {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.submitBtnWrapper .loadingSpinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}